	.start_block {
		float: left;
		width: 300px;
		/*height: 320px;*/
		margin: 0 25px 0 0px;
		_display: inline;
		overflow: hidden;
	}
		.topics_show {
			width: 300px;
			
		}
	
	
	#inner_index_bar { /** 进度条 */
		width: 600px;
		height: 30px;
		border: 1px dashed #CCC;
		margin: 0 0 0 25px;
		background: #F1F1F1;
	}
		.inner_index_line {
			height: 30px;
			width: 6px;
			background: url(../../../img/inner_index_line.png) repeat-x;/* #8BC45B;*/
			float: left;
		}