	.form_div label.error {
		margin: 5px 0 0 80px;
	}
	.form_div label.success {
		margin: 5px 0 0 5px;
	}
#register_general {
	float: left;
	width: 320px;
}
#register_more {
	float: right;
	border-left: 1px dashed #CCC;
	width: 200px;
	padding: 0 0 0 10px;
}


.other_login_item {
	margin: 5px 0;
}