#lookup_aside {
	float: left;
	width: 150px;
	
}
	
#lookup_content {
	float:right;
	width: 460px;
	padding: 0 0 0 10px;
	border-left: 1px dashed #CCC;
}



/**
 *		自定义user lookup 外网链接
 */

#lookup_aside h2 {
	font-size: 14px;
}

#lookup_aside .vertical_links li{
	width: 150px;
}

	#lookup_aside .vertical_links li a {
		text-indent: 50px;
	}
	
	#lookup_aside .vertical_links li a span.icon {
		left: 20px;
	}




/*
	#user_profile_avatar {
		float: left;
		margin: 8px 0 0 8px;
	}
	#user_easy_profile {
		margin: 8px 0 0 120px;
	}
		#user_easy_profile h2 {
			display: inline-block;
			margin: 0;
		}
*/








#user_profile {
	
}


#user_action {
	float:left;
	width:200px;
}



/* 用户资料页,详细资料*/
/*
#user_profile_detail {
	width: 100%;
}
	#user_profile_detail ul {
		list-style: none;
		margin: 0;
		padding: 0 0 0 20px;
	}
*/
	
div.user_relation_tabs ul.tab_menu li {
	width: 113px;
}

.user_relation_tabs div.tab_div {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
