
#user_profile {
	
}


#user_action {
	float:left;
	width:200px;
}



/* 用户资料页,详细资料*/
#user_profile_detail {
	float:right;
	width: 480px;
}
	#user_profile_detail ul {
		list-style: none;
		margin: 0;
		padding: 0 0 0 20px;
	}
	
.user_relation_tabs ul li {
	width: 113px;
}

.user_relation_tabs > div {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}