/** 
 *
 	常用配色：
 		橙色 - 字体 #F47536
 		绿色 - 字体
 		蓝色 - 字体
 */
 
 
 

/* Edit jQuery UI CSS*/
.ui-widget-content {
	background: #FFF;
	color: #444;
	font-size:13px;
}


img.avatar {
	border:1px solid #CCC;
	padding:2px;
}

/**
 *
 */
 
.form_div {
	padding:1px 0 1px 0px;

}
.form_div p {
	text-indent:0;
	margin:5px 0;
	
}
.form_div span { /* 零散的*/
	line-height: 27px;
}

.form_div label {
	width:70px;
	display:inline-block;
	text-align: right;
	vertical-align: top;
	line-height: 27px;
	padding: 0 10px 0 0px;
}

.form_div select {
	margin-top: 5px;
}
	/*
	 *	jQuery Validate 的错误信息
	 */
	.form_div label.error {
		background: url(../img/icons.png) no-repeat 0 -842px;
		width: auto;
		color: red;
		text-align: center;
		padding: 0 0 0 18px;
		height: 16px;
		line-height: 16px;
		margin: 5px 0 0 5px;
	}
	.form_div label.success {
		background: url(../img/icons.png) no-repeat;
		color: #FFF;
		width: 16px;
		height: 16px;
		padding: 0;
		margin: 5px 0 0 5px;
	}
	

/**
 *	input[type='text']  修复IE6,添加class
 */
.input_text,input[type="text"], input[type="password"] {
	padding:5px;
	width:145px;
	height: 15px
}


#loading,#loading_error {
	position:fixed;
	top: 0;
	z-index:99999;
	background:#FFF1A8;
	width:100px;
	height:20px;
	line-height:20px;
	margin:0 45%;
	
	/*IE*/
/*
	*margin: 0;
	*right: 45%;
	*position: absolute;
	*top: expression( eval(document.compatMode && document.compatMode==’CSS1Compat’) ? documentElement.scrollTop + (documentElement.clientHeight – this.clientHeight) – 1 : document.body.scrollTop + (document.body.clientHeight – this.clientHeight) – 1);
	
*/
}
#loading_error {
	background:#FDD;
	display:none;
}

.session_message {
	background: #FFFDDD;
	width:100%;
	border:1px solid #F8F3D6;

	line-height:30px;
	text-align:center;
}

#navigator {
	z-index: 99999;
	position: absolute;
	top: 150px;
	left: 0;

	

}
#navigator #nav_btn {
	float:left;
	width: 20px;
	height: 80px;
	background: #96C63F;
	margin: -8px 0 0px 0;
	z-index: 999;
	
	/*
	background: #000;
	filter: Alpha(opacity=80);
	-moz-opacity:.8;
	opacity:0.8;
	*/
}

	#nav_btn a {
		display: block;
		width: 100%;
		height: 100%;
		color: #FFF;
		text-align: center;
	}
#navigator .nav_content {
	display: none;
	float: left;
	width: 105px;
	/*
	background: #000;
	filter: Alpha(opacity=70);
	-moz-opacity:.7;
	opacity:0.7;
	min-height: 200px;
	*/
	
	width: 125px;
	height: 265px;
	color: #FFF;
	background: url(../img/navigator_inner.png);
}

	#navigator .nav_content ul {
		margin: 20px 0 0 10px;
		padding: 0;
	}
	#navigator .nav_content ul li {
		list-style: none;
		width: 100px;
		height: 25px;
		line-height: 25px;
	}
		#navigator .nav_content .nav_h {
			text-align: left;
			border: none;
			font-weight: bold;
			font-size: 13px;
		}
	.nav_content ul li a {
		display: block;
		width: 100%;
		height: 100%;
		color: #FFF;
		position: relative;
		text-align: left;
		text-indent: 23px;
	}
		
		.nav_content ul li a:hover {
			/*background: url(../img/sidebar_a_hover.png);*/
			background: #FFF;
			color: #333;
		}
		
			.nav_content ul li a .icon {
				position: absolute;
				top: 5px;
				left: 5px;
			}
	
#header {
    height:70px;
}


#topbar {
    background:url(../img/topbar_bg.png) repeat-x;
    width:100%;
    height:43px;
    *height:70px;  /* IE6 纠正,防止Wrapper向上顶 */
}
#topbar span.topbar_corner {
    float:right;
    background:url(../img/topbar_right_corner.jpg);
    height:40px;
    width:15px;
}
#topbar span.topbar_corner:first-child {
    float:left;
    background:url(../img/topbar_left_corner.jpg);
}

#topbar_container {
    text-align:left;
    width:960px;
    margin:0 auto;
    position: relative;
}


#topbar_container #logo { float:left;}
#topbar_container ul#menu {
    float:left;
    height:37px;

    margin:0 0 0 50px;
    position:relative;
}
#topbar_container ul#menu li {
    float:left;
    height:37px;
    line-height:40px;
    margin: 0 5px;
    text-align:center;
    width:80px;
    list-style:none;
}
#topbar_container ul#menu li.menu_item a {
    height:100%;
    width:100%;
    display:block;
    font-size:13px;
    color:#555;
}
#topbar_container ul#menu li.menu_item a:hover {
    color:#FFA700;
    font-size:16px;
    font-weight:bold;
    text-decoration:underline;
}

#topbar_container ul#menu li.menu_item div.submenu {
    background:url(../img/topbar_submenu_bg.png);
    height:22px;
    line-height:22px;
    position:absolute;
    top:39px;
    width:200px;
}
#topbar_container ul#menu li.menu_item div.submenu a {
    display:inline;
    margin:0 10px;
    color:#FFF;
    font-size:13px;
}




div.submenu {
	display:none;  /**子菜单默认不显示*/
	z-index: 999;
}

#topbar_container ul#menu li.current_menu div.submenu {
	display:block;
}
#topbar_container ul#menu li.current_menu a {
    color:#FFA700;
    font-size:15px;
    font-weight:bold;
    text-decoration:underline;
}



div.submenu span.submenu_corner {
    width:10px;
    height:22px;
    background:url(../img/topbar_submenu_right_corner.png) no-repeat;
    float:right; 
}
div.submenu span.submenu_corner:first-child {
    background:url(../img/topbar_submenu_left_corner.png) no-repeat;
    float:left; 
}

	.submenu_item {
		margin: 0 8px 0 0px;
		padding: 0;
		display: inline-block;
		
	}



	/**
	 *	顶部用户控制器（注册、登录、登出)
	 */
	#user_controller {
		 position: absolute;
		 top: 45px;
		 right: 0;
	}
		.submenu_user a {  /*顶部的用户菜单右下角的用户显示*/
			margin: 0 3px 0 0;
		}
/**
 *	搜索激活按钮
 */
.search {
	width: 140px;
	height: 30px;
	position: absolute;
	right: 5px;
	top: 5px;
}
	.search a{
		display: block;
		width: 100%;
		height: 100%;
		line-height: 30px;
	}
	
	
	
	
/** 菜单结束 */


#wrapper {
    width:960px;
    margin:0 auto;
    text-align:left;
    min-height:600px;
}
#container {
    padding: 0 10px;
    overflow:visible;
}

#sidebar {
	width:260px;
	float:right;
	background: url(../img/sidebar_bottom_bg.png) no-repeat 0px 100%;
	padding: 0 0 15px 0;
}
	
	.sidebar_widget {
		margin: 0px 0 15px 0;
	}
	
		.sidebar_widget ul {
			margin: 0;
		}
			.sidebar_widget ul li {
				
			}
		.sidebar_widget h2 {
			background: url(../img/sidebar_h2_bg.png) no-repeat;
			height: 27px;
			line-height: 27px;
			font-size: 14px;
			width: 225px;
			padding: 0 0 0 10px;
			margin: 0 0 10px 0px;
			color: #009900;
			
		}
		
		.sidebar_widget .form_div label {
			width: 50px;
		}
			.sidebar_widget .form_div label.error {
				color: red;
				width: auto;
				margin: 5px 0 0 60px;
			}
			.sidebar_widget .form_div label.success {
				width: 16px;
				margin: 5px 0 0 5px;
			}
		.sidebar_widget .form_div .input_text, 
		.sidebar_widget .form_div input[type="text"], 
		.sidebar_widget .form_div input[type="password"], 
		.sidebar_widget .form_div textarea {
			width: 125px;
		}
	
	
	.sidebar_top {
		padding: 15px 0 0 0;
		background: url(../img/sidebar_top_bg.png) no-repeat;
	}
	.sidebar_bottom {
		padding: 10px 15px 50px 15px;
		background: url(../img/sidebar_inner_bg.png) repeat-y;
	}


/*	.sidebar_menu {
		list-style:none;
		padding:0;
		margin:0;
	}
	.sidebar_menu li {
		height:30px;
		line-height:30px;
		text-align:center;
		border-bottom:1px #B0F581 solid;
	}
	.sidebar_menu li a{
		height:100%;
		width:100%;
		display:block;
	}
	.sidebar_menu li a:hover {
		background:#009000;
		color:#FFF;
		text-decoration:none;
	}
*/

	/* Sidebar 竖向hover式链接～ */
	.sidebar_links, .vertical_links {
		
		margin: 0;
		padding: 0;
	}
	.sidebar_links li, .vertical_links li  {
		list-style: none;
		height:30px;
		line-height:30px;
		width: 230px;
		text-align: left;
		
	}
		
	.sidebar_links li a,  .vertical_links li a{
		height:100%;
		width:100%;
		display:block;
		text-indent: 60px;
		position: relative;
	}
	
		.sidebar_links li a:hover,  .vertical_links li a:hover {
			
			background: url(../img/sidebar_a_hover.png) right;
			color: #333;
	
		}
			.sidebar_links li a:hover span.hover, .vertical_links li a:hover span.hover {
				background: #FFF url(../img/sidebar_a_hover_span.png) right;
				width: 30px;
				height: 30px;
				position: absolute;
				left: 0;
				top: 0;
			}
		
		.sidebar_links li a span.icon,  .vertical_links li a span.icon {
			position: absolute;
			top: 7px;
			left: 30px;
		}
		
	.sidebar_users_list {
		margin: 0;
		padding: 0 0 0 20px;
	}
		.sidebar_users_list li {
			list-style: none;
		}
	
#content {
    overflow:hidden;
    position: relative;
    float:left;
    margin:0 0px;
    padding:0;
    background: #FFF;
    width: 670px;
    background: url(../img/content_bottom_bg.png) no-repeat 0px 100%;
    padding: 0 0 20px 0;
}
	#content h1 {
		font-size: 18px;
		margin: 0 0 20px 0;
	}
	#content h2 {
		font-size: 16px;
	}
	#content h3 {
		margin: 10px 0 10px 0;
	}
	#content p {
		line-height: 18px;
	}

	.content_top {
		padding: 21px 0 0 0;
		background: url(../img/content_top_bg.png) no-repeat;
	}
	.content_bottom {
		padding: 10px 21px;
		background: url(../img/content_inner_bg.png) repeat-y;
	}
	



.three_columns {
	width:500px;
}

.two_columns {
	width:680px;
}


		/**
		 *	用户、群组 lookup页面
		 */
		#lookup_head {
			width: 670px;
			height: 120px;
			background: url(../img/lookup_content_bg.png) no-repeat;
			position: absolute;
			top: 7px;
			left: 7px;
			color: #000;
		}
		
		#lookup_main {
			margin: 100px 0 0 0;
		}
			.lookup_aside_widget h2 {
				font-size: 14px;
				color: #090;
				line-height: 27px;
				border-bottom: 1px dashed #CCC;
				margin: 20px 0px 0px 0;
			}
			.lookup_avatar {
				float: left;
				margin: 8px 0 0 8px;
			}
			
			.lookup_easy_profile {
			
			}
			
				.lookup_easy_profile {
					margin: 8px 0 0 120px;
				}
					.lookup_easy_profile h2 {
						display: inline-block;
						margin: 0;
					}
			
			/**
			 *	群组、个人查看页的菜单选择
			 */
			.lookup_menu {
				margin: 0;
				padding: 0;
				position: absolute;
				bottom: 1px;
				right: 30px;
			}
				.lookup_menu li {
					list-style: none;
					float: left;
					height: 20px;
					line-height: 20px;
					width: 60px;
					
					text-align: center;
				}
				.lookup_menu li a {
					border-left: #96C63F 1px solid;
					border-right: #96C63F 1px solid;
					border-top: #96C63F 1px solid;
					display: block;
					width: 100%;
					height: 100%;
					background: #FFF;
				}
				.lookup_menu li a.selected {
					background: #96C63F;
					color: #FFF;
				}
		
		

/* Aside  & its widgets */
#aside {
	width:220px;
	float:right;
	background: #FFF;
}

	.aside_widget {
		margin: 20px 0;
		border: 1px dotted #CCC;
		padding:8px;
	}
	.aside_widget h3 {
		font-size:15px;
		font-weight: bold;
	}
	.aside_widget ul {
		list-style: none;
		padding: 0 0 0 5px;
	}

	#create_event_div {
		margin: 5px 0;
	}
	#create_event_form .event_date {
		width:76px;
		padding: 5px;
	}
		#create_event_form select.event_time {
			width:45px;
			font-size:9px;
		}

/** Group. index */

.group_list {
	margin:0;
	padding:0;

}
.group_list li {
	list-style:none;
	width:160px;
	height:120px;
	/*
	border-bottom: 1px dotted #CCC;
	*/
	float:left;
	text-align:center;
	padding: 5px 0;
}






/** Group.group_lookup */

/*
.group_topics_list {
	list-style:none;
	margin:0;
	padding:0;
}
.group_topic {
	overflow:hidden;
	margin:0;
	padding:0;
	border-bottom:1px solid #DDD;
}
*/

.topics_list {
	margin: 0;
	padding: 0;
}

	.topic {
		list-style: none;
		border-bottom:1px solid #DDD;
		margin:10px 0;
		padding:0 0 5px 0;
		position: relative;
	}
		.topic_user {
			position: absolute;
			top: 0;
			left: 0;
		}
			.topic_user img {
				border:1px solid #CCC;
				padding:2px;
			}
			
			
		.topic_detail {
			margin: 0 0 0 65px;
		}
		
			.topic_date {
				position: absolute;
				top: 0;
				right: 0;
			}
			
		.topic_title a{
			font-size: 16px;
			letter-spacing: 0.1em;
			font-weight: bold;
		}
		.topic_content {
		}
			.topic_attach_img {
				text-align: left;
				margin: 10px 20px 0 0;
			}
			
		.topic_panel {
			width:550px;
			margin: 10px 0 0 75px;
			text-align:right;
		}
			
			
			
			/*

.group_topics_list {
	
	margin:0;
	padding:0;
}
	.group_topic {
		border-bottom:1px solid #DDD;
		margin:10px 0;
		padding:0 0 5px 0;
		list-style:none;
	}
	
	
	.group_topic_user {
		float:left;
	}
		.group_topic_user img {
			border:1px solid #CCC;
			padding:2px;
		}
	
	.group_topic_detail {
		margin: 0px 0 0 75px;
		padding:0;
		
		*margin-top:-20px;  IE6
	}
		.group_topic_date {
			float:right;
		}
		
		.topic_title a{
			font-size: 14px;
			letter-spacing: 0.1em;
			font-weight: bold;
		}
		
	.group_topic_panel {
		width:510px;
		margin: 0 0 0 75px;
		text-align:right;
	}
*/


/**
 *	单复数行换色
 */
.odd {
	background:#EDF3FE;
}



/** Chat iFrame */
.chats_container, .chats_preview {

	text-align:left;
	/*max-height:300px;*/
	overflow:auto;
	margin:10px 0;
	padding:10px;
	border:1px solid #C2CFF1;
	background:#EBEFF9;
	font-size:13px;
}

.chats_container p , .chats_preview p{
	text-indent:0;
}
.chat_item {
	list-style: none;
	overflow:hidden;
	margin:0px 0;
	padding: 5px 0;
	border-bottom:#C8CDD1 1px dotted;
	background:#FFF;
	border-left:5px solid #FFF1A8;
}
.odd {
	background:#FAFAFA;
}

.chat_item .chat_avatar {
	float:left;
	/*

	position:relative;
*/
}
.chat_item .chat_detail ,  .chat_item .chat_form {
	margin:0 0 0 40px;
}

	.chat_content {
		font-size:13px;
	}

	.chat_detail .chat_date {
		font-size:10px;
		color:#999;
		margin:0 10px 0 0;
		float:right;
	}
	
	.chat_reply , .latest_chat_reply {
		margin:0 10px 0 10px;
		font-weight:bold;
		float:right;
	}
	
	
.top_chat .chat_avatar img.avatar {
	height: 50px;
	width: 50px;
}
	.top_chat .chat_detail, .top_chat .chat_form {
		margin: 0px 0px 0px 60px;
	}
	
	
	
	
/**
 *	  Topic
 */
 
/*
.topic_iframe {
	width: 100%;
	height: auto;
	border: 1px dashed #CCC;
	margin: 5px 0 10px 0;
}
*/
	.add_topic_div {
		border: 1px dashed #CCC;
		padding: 5px 10px;
		margin: 5px 0 10px 10px;
		position: relative;
		background: #F1F1F1;
	}
		.add_topic_div #add_topic_pic_div {
			width: 120px;
			position: absolute;
			right: 0;
			top: 35px;
		}
			#add_topic_pic_btn {
				margin: 20px 0 0 0;
			}
		
		input.create_topic_title {
			width: 350px;
		}
		.create_topic_content {
			width: 450px;
			height: 120px;
		}
	
/** Footer */
	
	
	
#footer {
	background: url(../img/footer_shadow.gif) no-repeat 50% 0 whiteSmoke;
	width:100%;
	height:150px;
	/*border-top: #B0F581 solid 1px;*/
	float:left;
	margin:50px 0 0 0;
	padding:30px 0;
}

	#footer_container {
		width: 960px;
		margin: 0 auto;
	}
	
	
	
.footer_column {
	float:left;
	text-align:left;
	margin-left:40px;
	width: 120px;
}

	.footer_column h2 {
		font-size:15px;
		margin: 5px 0 5px 0 ;
	}
	
	.footer_column ul {
		margin: 0 0 0 10px;
		padding: 0;
	}
		.footer_column ul li {
			list-style: disc;
			list-style-position: inside;
		}
	
#footer_copyright {
	float:right;
	margin-right:40px;
}


